body {
    background-color: rgb(228, 18, 18);
}

h1 {
    color: black;
    background-color: rgb(203, 226, 247);
}

h2 {
    color: black
}

#drawing {
    float: right;
}

canvas {
    margin-top: 150px;
    border-radius: 50px;
    animation-name: fade;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes fade {
    from {
        box-shadow: 1px 1px 38px rgb(131, 4, 4);
    }

    to {
        box-shadow: 1px 1px 38px rgb(11, 58, 214);
    }

}

img {
    width: 45px;
    height: 45px;
}